* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

/* Estilo do cabeçalho */
header {
    padding: 20px 4%;
    background-color: rgba(0, 0, 0, 0.8);
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

header a:hover {
    color: #fff;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 20px;
}

header .btn-contato button,
header .btn-Nome button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(52, 52, 255);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    color: #fff;
}

header .btn-contato button:hover,
header .btn-Nome button:hover {
    box-shadow: 0px 0px 8px rgb(52, 52, 255);
    background-color: rgb(40, 40, 255);
}

/* Estilo da seção hero */
.hero {
    display: flex;
    align-items: center;
    padding: 100px 4%;
    background: linear-gradient(to right, #111, #222);
    border-radius: 20px;
    overflow: hidden;
}
.imagem {

    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 30%;
    margin-right: 20px;
    box-shadow: 0px 0px 15px rgb(40, 40, 255);
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
}

.hero h1 {
    font-size: 2.5rem;
    margin: 0;
}

.hero p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.btn-explore {
    padding: 10px 30px;
    background-color: rgb(52, 52, 255);
    border: none;
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-explore:hover {
    box-shadow: 0px 0px 8px rgb(52, 52, 255);
    background-color: rgb(40, 40, 255);
}

main {
    padding: 40px 4%;
}

h2 {
    margin-bottom: 20px;
}

section {
    margin-bottom: 40px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #111;
}